.settings
.project
git-entities/.settings
git-entities/target
git-entities/.classpath
git-entities/.project
git-repositories/.settings
git-repositories/target
git-repositories/.classpath
git-repositories/.project
git-services/.settings
git-services/target
git-services/.classpath
git-services/.project
git-web/.settings
git-web/target
git-web/.classpath
git-web/.project